.container{
			display: flex;
			flex-direction: column;
		}
		header{
			background-color: lightgray;
			border-bottom: 1px solid gray;
			display: flex;
			flex-direction: row;
			flex-basis: 150px;
			color: white;
		}
		nav{
			border-bottom: 1px solid black;
		}
		a{
			color: white;
			text-decoration: none;
		}
		li{
			list-style: none;
		}
		.content{
			flex-direction: column;
		}
		.item{
			background-color: black;
			border: 1px solid white;
			flex-grow: 1;
			text-align: center;
		}
